.review-btn {
  float: right;
  color: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  background: linear-gradient(-30deg,#B3EF74 , #5DCA73 70%, #41BA59) ;
 
  position: absolute;
  top: 290px;
  right: 12px;
  cursor: pointer;
  transform: scale(0.8)
}

.review-btn:hover {
  background: #41BA59;
  
  
}


@media (min-width: 768px) and (max-width: 1000px) {
  .review-btn {
    transform: scale(0.6);
    top:247px;
    right: 0px;
  }
}