input.form-control{
    height: 50px;
    border: 1.5px solid #6c38d9;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    color:#6c38d9;
    font-family: 'FontAwesome', sans-serif!important;
}

.form-control:focus{
    border: 1.5px solid #e014c3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0)
}

form{
    margin-top: 100px;
}


.btn-success {
    border: 1.5px solid #e014c3;
    border-radius: 40px;
    padding: 14px 30px;
    background-color: #e014c3;
    color:white;

}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:visited {
    border: 1.5px solid #6c38d9;
    background-color: #6c38d9;
    color:white;

}

/* ==================login/register customize ============= */
form.login{
    margin-top: 100px;
}

.loginBtn, .registerBtn {
    margin-top:20px;
}

.registerBtn {
    margin-left:20px;
}