input.form-control{
    height: 50px;
    border: 1.5px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color:#FF1F99;
    font-family: 'FontAwesome', sans-serif!important;
    box-shadow: none;
}

.form-control:focus{
    border: 1.5px solid #fff;
    box-shadow: none;
}

form{
    margin: 50px auto;
    
}
.inputBox {
    background: linear-gradient(-20deg,#FF1F99, #FF7D18, #FED92A)
    
}

.glyphicon-search{
    font-size:25px!important;
}

.btn-success {
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 10px 14px 8px;
    background-color: transparent;
    color:#fff;
    margin-bottom:30px;

}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:visited {
    border: 1.5px solid #fff;
    background-color: #fff;
    color:#FF1F99;
    box-shadow: none;
    outline:none;

}

h1.subheading {
    /* background: linear-gradient(45deg, #FF1F99 0%, #FF1F99 30%, #FED92A 50%, #FED92A 75%, #FED92A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #FF1F9A;
    letter-spacing: 0.1em;
    margin: 50px auto;
}



/* ==================login/register customize ============= */
form.login{
    margin-top: 100px;
}

.loginBtn, .registerBtn {
    margin-top:20px;
}

.registerBtn {
    margin-left:20px;
}
