.delete-btn {
  float: right;
  color: #fff;
  font-size: 25px;
  /* margin-right: 20px; */
  position: absolute;
  top: 2px;
  right: 15px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #FF1F99;
}
