html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 80px;
    background-image: url("../images/paper.png");
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
    background-color: #2196f3;
  }
  
  .navbar {
    margin-bottom: 0;
  }
  
  .jumbotron {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
    font-family: "Cormorant SC";
    box-shadow: 10px 5px 20px 2px lightslategrey;
  }
  
  .jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background: linear-gradient(#333, black);
    opacity: 0.7;
  }
  
  .jumbotron .background-image {
    height: 100%;
    background-image: url("../images/newspaper.jpg");
    background-size: cover;
  }
  
  .jumbotron .caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  
  .jumbotron .caption h1,
  .jumbotron .caption p {
    color: white;
  }
  
  .jumbotron h1 {
    font-size: 80px;
    font-weight: 800;
  }
  
  .jumbotron p {
    font-size: 30px;
  }
  
  .panel {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
  }
  
  .panel.panel-default .panel-heading {
    background-color: #2196f3;
    position: relative;
  }
  
  .panel.panel-default .panel-heading h3 {
    color: white;
  }
  
  .panel.panel-default .panel-heading .btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .panel.panel-default .panel-heading .btn.delete {
    right: 160px;
  }
  
  .panel.panel-default .panel-body {
    font-size: 16px;
  }
  
  .panel.panel-default .panel-heading .article-link {
    color: white;
    display: inline-block;
    width: 80%;
  }
  
  .footer > .container > p {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0;
    font-weight: 800;
    background: #0c7cd5;
  }
  
  .navbar-nav > li > a.scrape-new {
    padding: 10px;
    margin-top: 10px;
    font-weight: 800;
    color: white;
  }
  
  .navbar-nav > li > a.scrape-new:hover {
    background: #4caf50;
  }
  
  .navbar-nav > li > a.scrape-new:active {
    background: #e51c23;
  }
  
  .scrape-new {
    cursor: pointer;
  }
  
  .m-top-80 {
    margin-top: 80px;
  }
  
  textarea {
    padding: 10px;
    resize: none;
  }
  
  .bootbox-body .btn {
    float: right;
    margin: 5px;
  }
  
  .note.list-group-item {
    padding: 30px;
  }
  
  .note.list-group-item .btn {
    position: relative;
    bottom: 10px;
  }