/* html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 80px;
    background-image: url("../images/paper.png");
  } */

  

  
  .panel {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
  }
  
  .panel.panel-default .panel-heading {
    background-color: #2196f3;
    position: relative;
  }
  
  .panel.panel-default .panel-heading h3 {
    color: white;
  }
  
  .panel.panel-default .panel-heading .btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .panel.panel-default .panel-heading .btn.delete {
    right: 160px;
  }
  
  .panel.panel-default .panel-body {
    font-size: 16px;
  }
  
  .panel.panel-default .panel-heading .article-link {
    color: white;
    display: inline-block;
    width: 80%;
  }
  
  .footer > .container > p {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0;
    font-weight: 800;
    background: #0c7cd5;
  }
  
  .navbar-nav > li > a.scrape-new {
    padding: 10px;
    margin-top: 10px;
    font-weight: 800;
    color: white;
  }
  
  .navbar-nav > li > a.scrape-new:hover {
    background: #4caf50;
  }
  
  .navbar-nav > li > a.scrape-new:active {
    background: #e51c23;
  }
  
  .scrape-new {
    cursor: pointer;
  }
  
  .m-top-80 {
    margin-top: 80px;
  }
  
  textarea {
    padding: 10px;
    resize: none;
  }
  
  .bootbox-body .btn {
    float: right;
    margin: 5px;
  }
  
  .note.list-group-item {
    padding: 30px;
  }
  
  .note.list-group-item .btn {
    position: relative;
    bottom: 10px;
  }



  /* ============ CARD ITEM =============== */
  .card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }