/* ============ User Review =============== */
  .usercard {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: none;
    text-align: left;
    border:2px solid #FF1F99;
    border-image-source: linear-gradient(45deg,#FF1F99, #FF7D18, #FED92A);
    border-image-slice: 2;
    
  }
  
.imgContainer{
    margin:10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    background: linear-gradient(45deg,#FF1F99, #FF7D18, #FED92A); 
    
    
  }
 .imgContainer> img {
    width: 100%;
    
  }



  .content hr {
    width: 80%;
    margin: 20px 0;
    border-top: 1.25px solid #FF1F99;
   
  }
  
 .content > ul {
    list-style-type: none;
  }

  .content > ul > li.user-name {
    margin: 5px auto;;
  }

.user-name{
    text-transform: uppercase;
    font-size:25px;
    background: linear-gradient(20deg,#FF1F99, #FF7D18, #FED829); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  .item-review p{
    font-size: 15px;
  }

  .userRating {
    margin: 15px 0px 0px -15px;
  }


  @media (max-width: 768px) {
 .content {
   text-align: center;
   margin-top: 50px;

 }
 .content > ul {
   margin-left:-40px;
   
 }

 .content hr {
   margin: 20px auto;
 }
       
}