.navbar-inverse{
    /* background: linear-gradient(120deg,#FF4130, #FE8728, #FFF316); */
    background: linear-gradient(-45deg,#FF1F9A, #FF7E19, #FED92A);
    border-radius: 0px;
    border:0px;
    z-index: 1;
}
.navbar {
    margin-bottom: 0px!important;
}

.iconOnly{
    font-weight:100;
    font-size:15px!important
}

img.logoImg{
 width: 12%;
 height: auto;
}

p#logo{
    color:#fff;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
    margin: 12px
}

.iconOnly {
    font-weight: 100;
    font-size:15px!important;
}

.glyphicon{
    font-weight: 100;
    font-size:15px;
    
}

a.logo, a.logo:hover{
    text-decoration: none;
    color: #ffffff;
}


.navbar-inverse .navbar-nav>li>a{
    color:#fff;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
    
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: white;
  }
  
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    background-color: transparent;
    color: white;
    
}

    .navbar-inverse .navbar-toggle{
        border-color: #ffffff;

    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        border-color: #ffffff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        border-color: transparent;
    }


@media (min-width: 320px) and (max-width: 460px) {
    img.logoImg{
        width: 30%;
        height: auto;
       }
       
}

@media (min-width: 460px) and (max-width: 768px) {
    img.logoImg {
        width: 20%;
        height: auto;
       }
       
}

@media (min-width: 768px){
    .navbar-right {
        margin-top: -50px;
    }

    img.logoImg {
        width: 16%;
        height: auto;
       }
} 


@media (min-width: 992px){
    .navbar-right {
        margin-top: -50px;
    }
    img.logoImg {
        width: 12%;
        height: auto;
       }
} 

 @media (min-width: 1200px){
    .navbar-right {
        margin-top: -55px;
    }
} 
    
    

@media (min-width: 768px) {
        a.log:after {
            content: '';
              position: absolute;
              left: 0;
              display: inline-block;
              height: 1em;
              width: 100%;
              border-bottom: 2px solid;
              margin-top: 10px;
              opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: scale(0,1);
                transform: scale(0,1);
            }
            
            a.log:hover:after {
                opacity: 1;
                  -webkit-transform: scale(0.75);
                  transform: scale(0.75);
            } 
    
    }
    


