.navbar{
    background-color: #0B2448;
    /* background: linear-gradient(45deg, #4408FF, #8208FF); */
    border-radius: 0px;
    border:0px;
    z-index: 1;
  }
  
  .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    color:#fff;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    margin-top:-10px;
  }

li {
  list-style: none;
  text-decoration: none;
  padding-top:10px;
}

a.test {
  color:#fff;
  font-weight: 200;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;

}
a.test:hover {
text-decoration: none;

}
  
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #00FCFC;
  }
  
  .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    background-color: transparent;
    color: #00FCFC;
  }