textarea.form-control{
    
    border: 2px solid #FF1F99;
    border-image-source: linear-gradient(-65deg,#FF1F99, #FF7D18, #FED92A);
    border-image-slice: 2;
    border-radius: 0px;
    background-color: #fff;
    color:#FF1F99;
    font-family: 'FontAwesome', sans-serif!important;
    box-shadow: none;
    margin-top:25px;
}

textarea.form-control:focus{
    border: 1.5px solid #FF1F99;
    border-radius: 25px;
    box-shadow: none;
}
